.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.register{
  display: flex;
  width: 100vw;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  background-color: blanchedalmond;
}

.register span{
  color: #adb5bd;
}

#regform{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#regform > input, .regBtn{
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
}

#regform > input:focus{
  outline: none;
}

#regform > .regBtn{
  background-color: darkgrey;
  font-size: 1em;
  cursor: pointer;

}


.flex{
  display: flex;
  gap: 0.5em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.loginform .col-2{
  margin: auto;
  padding: 3em 0;
}

#genderDrop {
  outline: none;
  font-size: 0.9em;
  border-radius: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error {
  font-size: 12px;
  color: #ff6774;
  margin: 0px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
